{
    "DEFAULT_LOGGER": "OpenEdge.Net.DataObject.DataObjectHandler",
    "logger": {
        "OpenEdge.Net.DataObject.DataObjectHandler": {
            "logLevel": "TRACE",
            "filters": [
                "ABL_SUBSTITITE_FORMAT",
                "ERROR_FORMAT",
                "FULL_TEXT_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/doh-${web.webapp}.log",
                    "appendTo": false
                }
            ]
        }
    }
